<section class="container">
	<div class="flex-between">
		<h1>My Tickets</h1>
		<a class="btn" href="/tickets/new">New Ticket</a>
	</div>
	<table class="table">
		<thead><tr><th>Subject</th><th>Status</th><th>Created</th></tr></thead>
		<tbody>
			<% tickets.forEach(t => { %>
				<tr>
					<td><a href="/tickets/<%= t._id %>"><%= t.subject %></a></td>
					<td><%= t.status %></td>
					<td><%= new Date(t.createdAt).toLocaleString() %></td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</section>

