<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>
</head>
<body class="min-h-screen flex flex-col">
	<%- include('partials/navbar') %>
	<main class="container">
		<%- body %>
	</main>
	<%- include('partials/footer') %>
	<script src="/public/js/app.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>document.addEventListener('DOMContentLoaded',()=>{ AOS.init({ once:true, duration:700, easing:'ease-out-quart'}); });</script>
</body>
</html>

